body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9F1F63;
    font: 20px helvetica; 
    padding-top: 1250px;
}

h1 {
    display: flex;
    text-align: center;
    align-items: center; 
    font: 24px helvetica; /* Added font size */
    background-color: #FCB040;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

img {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    margin: 10px;
    z-index: 0;
}

#box1 {
    display: flex;
    width: 1200px;
    height: 450px;
    background-color: #00AEEF;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

#box2 {
    display: flex;
    width: 1200px;
    height: 470px;
    background-color: #00AEEF;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#box3 {
    display: flex;
    width: 1200px;
    height: 430px;
    background-color: #00AEEF;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#box4 {
    display: flex;
    width: 1200px;
    height: 470px;
    background-color: #00AEEF;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#box5 {
    display: flex;
    width: 1200px;
    height: 530px;
    background-color: #00AEEF;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#box6 {
    display: flex;
    width: 1200px;
    height: 530px;
    background-color: #00AEEF;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#box7 {
    display: flex;
    width: 1200px;
    height: 500px;
    background-color: #00AEEF;
    color: white;
    border: 2px solid #00AEEF;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#box8 {
    display: flex;
    width: 1200px;
    height: 420px;
    background-color: #00AEEF;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#box9 {
    display: flex;
    width: 1200px;
    height: 570px;
    background-color: #00AEEF;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#box10 {
    display: flex;
    width: 1200px;
    height: 400px;
    background-color: #00AEEF;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
@media only screen and (max-width: 400px) {
    img {
        padding-top: 10px; /* Adjusted padding for larger screens */
        width: 350px;
        order: -1;
    }
    h1 {
        order: 0;
        padding-top: 500px;
    }
}
@media only screen and (max-width: 400px) {
    body {
        padding-top: 100px; /* Adjusted padding for smaller screens */
    }
    
    #box1 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 700px;        
    }
    #box2 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 800px;
    }
    #box3 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 800px;
    }
    #box4 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 800px;
    }
    #box5 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 800px;
    }
    #box6 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 800px;
    }
    #box7 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 700px;
    }
    #box8 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 700px;
    }
    #box9 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 890px;
    }
    #box10 {
        width: calc(100% - 20px); /* Adjusted width for smaller screens */
        height: 800px;
    }
}

@media only screen and (min-width: 1500px) {
    body {
        padding-top: 1500px; /* Adjusted padding for larger screens */
    }
}


